{% extends 'home.html'%}

{% block title%}
Profile
{%endblock%}

{% block content%}
<div class="profile">
    <h1><i class="bi bi-person-circle"></i></h1>
    <h1>Account</h1>
    <h4 style="padding-top: 40px; text-align: start; margin-left: 20px;">First Name : {{request.user.first_name.upper}}</h4>
    <h4 style="padding-top: 40px; text-align: start; margin-left: 20px;">Last Name : {{request.user.last_name.upper}}</h4>
    <h4 style="padding-top: 40px; text-align: start; margin-left: 20px;">User Name : {{request.user.username}}</h4>
    <h4 style="padding-top: 40px; text-align: start; margin-left: 20px;">E-mail : {{request.user.email}}</h4>



</div>
</div>

{% endblock%}