{% extends 'main/base.html' %}

{% block title %} Home{% endblock %}


{% block content %}




<section class="main-container home" id="home"style="font-size: 40px; margin-bottom: 30px; justify-content: left; color:rgb(123, 92, 44);  text-align: center">
    <div class="contact">
        <h3>hello </h3>
        <p> welcome to my website </p>
    </div>
  </section>




<section >
    <h1 style="font-size: 40px; margin-bottom: 30px; justify-content: center; color:rgb(95, 93, 93); text-align: center"> About Me</h1>  
    <p style="font-size: 30px; margin-bottom: 100px; justify-content: center; color: rgb(23, 31, 21);text-align: center">I am a computer science graduate. Of course, this specialization is wide and big, and the graduate gets lost in it. I am still searching for my passion and the field in which I see myself. I try and try , but I am sure that I will find the thing that I see myself in. Even if I tried the field and did not like it, I gained a lot of knowledge from it. In the end, I will reach the right destination that suits me </p>

</section>  


<hr />


<hr />

<section>
  <h1 style="font-size: 40px; margin-bottom: 40px; justify-content: center; color: rgb(95, 93, 93);text-align: center"> Interests</h1>  
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
           
          <div class="card">
            <img src="/static/img/hp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">books</h5>
              <p class="card-text">Interested in fantasy novels, especially the Harry Potter series of novels.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/img/alz.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">plants</h5>
              <p class="card-text">I am interested in the world of plants The best indoor plants for me are: The mandatory plant is considered one of the best indoor plants for beginners or those looking for a low-care plant, as it is one of the strongest and most durable indoor plants for different environments. Therefore, it is frequently used in homes and different work environments to make the place more beautiful and without much effort in taking care of this beautiful plant.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/img/rz.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">games</h5>
              <p class="card-text">A fan of games, especially fantasy and horror games such as The Walking Dead.</p>
            </div>
          </div>
        </div>
        
      </div>
    
</section>

<section class="cardss" style="background-color: rgb(236, 245, 237);">

  <div class="row g-0 bg-body-secondary position-relative"  >
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="/static/img/ff (2).png" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0" style="font-size: 40px; margin-bottom: 40px; justify-content: center; color: rgb(95, 93, 93);text-align: center">Project</h5>
      <p>Create a game to increase the child's concentration by remembering. This will be done by a deck of cards with pictures distributed in one board and these cards are face down, it is allowed to reveal two balls at the same time and if there are the same pictures. They are discarded, the game ends when all the same cards are revealed and removed so that no card is left in a short time, the game has several levels of difficulty.</p>
      <a href="https://hala22.itch.io/guess-game" class="stretched-link">Go to game</a>
    </div>
  </div>
</section>
<hr />


<section  class="cards" style="background-color: rgb(236, 245, 237);" id="services">
  <h2 class="title" style="display: flex;justify-content: center; font-size: 40px;font-weight: 800;margin-bottom: 30px;"> services</h2>  
  <div class="content" style="display: flex; justify-content: center;flex-direction: row;">
      <div class="card" style="background-color: rgb(255, 255, 255); width: 21.25em; box-shadow: 0 5px 25px rgba(1 1 1 /60%); padding: 25px; margin: 15px;transition: 0.7s ease;">
          <div class="icon" style="color: burlywood; font-size: 8em; text-align: center;">
              <i class="fa-sharp fa-solid fa-pen-to-square"></i>
          </div>
          <div class="info">
              <h3>Research</h3>
              <p></p>
          </div>
      </div>
      <div class="card" style="background-color: rgb(255, 255, 255); width: 21.25em; box-shadow: 0 5px 25px rgba(1 1 1 /60%); padding: 25px; margin: 15px; transition: 0.7s ease;">
          <div class="icon" style="color: burlywood; font-size: 8em; text-align: center;">
              <i class="fa-solid fa-pen-to-square"></i>
          </div>
          <div class="info">
              <h3>Game design by unity</h3>
              <p></p>
          </div>
      </div>
  </div>
  </div>

  </div>

</section>  






{% endblock %}     