{% extends 'main/base.html' %}
{% block title %} <title> About Lenah </title> {% endblock %}



{% block background %}  {% endblock %}


{% block content %} 

<div class="container_about "> 
    <div class=" row aboutme_background1 m-0 ">
        <div class="row d-flex justify-content-center marging"> 
            <div class="col-8">
                <div class="pt-5 mt-5 ps-5 border border-3 ms-5  ">
                    <p style="color: white; font-size: 50px; " > Are you ready to learn more about my interests and accomplishments?  <span style="color: wheat;">scroll! </span>  </p>
                </div> 
            </div>
        </div>

    </div>

    <div class=" row aboutme_background2 m-0">

        <div class="col">
            <div class="text-content pt-3 pe-4  p-3 border border-1 border-dark rounded-top rounded-bottom ms-5 mt-5 "> 
                <p style="color: green;; font-size: 20px; font-family: Arial, Helvetica, sans-serif;">  <span class="font_style1"> About me </span> <br/> Hello I am Lenah, born in 2000. I am third in the family. I started my academic career when I was four years old and recently i had graduated from university (finally) from Computer Science major. The reason I chose my major is that I love technology and the development we are experiencing, and now I am trying to discover my favorite field in the field of work, so I registered in one of the camps. witch is developing websites using Python, is difficult for me because my residence is not in Riyadh, but in order to develop myself</p>
            </div> 


            <div class="row">
                <div class="col">
                    <div class="text-content pt-3 pe-4  p-4 border border-1 border-dark rounded-top rounded-bottom ms-5 mt-5 ">
                        <P style="color: green; font-size: 20px; font-family: Arial, Helvetica, sans-serif;"> <span class="font_style1"> Facts About Me </span> <br/> I love to try and discover new things. When I was young, I loved riding bikes with my friends and playing video games. I enjoyed playing very much. I am a person who is enthusiastic about life, I love nature, and I am ready to learn and discover new hobbies to develop myself and my skills. </P>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <img src="/static/images/women-PhotoRoom.png-PhotoRoom.png " class="women_image"> 
        </div>  
    </div>



    
    <div class="plant_background">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column justify-content-center align-items-center mt-5">
                    <h1 style="color:black"> I Am interested in </h1> 
                    <h1 style="color: black"> 1-Plants </h1>
                </div>  
            </div>
        </div>
    </div>

    <div class="row plant_card m-0 ">
       <div class=" row mt-5">
            <div class="col"> 
                <div class="d-flex justify-content-center gap-4 "> 
                    <div class="card card_style" style="width: 20rem;">
                        <img class="card-img-top image_plant" src="/static/images/plant1.JPG " alt="Card image cap">
                        <div class="card-body ">
                        <h4 class="card-title" style="color: white;" > main catalyst for my interest in plants</h4>
                        <p class="card-text" style="color: white;" > I like to spend my time taking care of plants because it helps me clear my mind. I have enough knowledge about them when they need irrigation or fertilizer to grow well. I tried some methods to reproduce them and got great results. </p>
                        </div>
                    </div>

                    <div class="card card_style" style="width: 20rem;">
                        <img class="card-img-top" src="/static/images/plant2.JPG" alt="Card image cap">
                        <div class="card-body">
                        <h4 class="card-title" style="color: white;" > Methods of reproduce</h4> 
                        <p class="card-text" style="color: white;" >  After putting the plant's stem in water for a few weeks, the roots form, and I can move the plant to the soil.</p>
                        </div>
                    </div>

                    <div class="card card_style" style="width: 20rem;">
                        <img class="card-img-top" src="/static/images/plant3.JPG" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">If you want to try care of a plant , I will suggest to you a website that offer various plant . Try it!!</p>
                        <a href="https://nabataty.com/store/" class="btn btn-light" target="_blank">Go to website</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

            
    <div class="game_background m-0">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column justify-content-center align-items-center mt-5 ">
                    <h1 style="color: white;" class="pt-5"> 2-Games </h1>
                </div>  
            </div>
        </div>
    </div>
    <div class="row m-0 activities_content">
        <div class="row mt-4 ms-4">
            <div class="col">
                <div class="card" style="width: 20rem; background-color: rgb(247, 239, 226);">
                    <img class="card-img-top" src="/static/images/pubg.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center"> 
                            <p class="card-text card_style_act" >Pubg Game</p>
                        </div>
                    </div>
                  </div>
            </div>

            <div class="col">
                <div class="card" style="width: 20rem; background-color: rgb(247, 239, 226);">
                    <img class="card-img-top" src="/static/images/Crash.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center"> 
                            <p class="card-text card_style_act" >Crash Game </p>
                        </div>
                    </div>
                  </div>
            </div>

            <div class="col">
                <div class="card" style="width: 20rem; background-color: rgb(247, 239, 226);">
                    <img class="card-img-top" src="/static/images/mincraft.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center"> 
                            <p class="card-text card_style_act" >Mincraft game</p>
                        </div>
                    </div>
                  </div>

            </div>
        </div>

        <div class="row mt-4 ms-4">
            <div class="col">
                <div class="card" style="width: 20rem; background-color: rgb(247, 239, 226);">
                    <img class="card-img-top" src="/static/images/unchrted.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="card-text card_style_act ">Uncharted game </p>
                        </div> 
                     </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 20rem; background-color: rgb(247, 239, 226);">
                    <img class="card-img-top" src="/static/images/gta.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="card-text card_style_act ">Gta game </p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card" style="width: 20rem; background-color: rgb(247, 239, 226);">
                    <img class="card-img-top" src="/static/images/call of duty mobile.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="card-text card_style_act ">call of duty mobile</p>
                        </div>
                    </div>
                </div>
    
            </div>
                
        </div>
    </div>





    <div class="achievements_background m-0">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column justify-content-center align-items-center mt-5 ">
                    <h1 style="color: white;"> My Achievements </h1>
                </div>  
            </div>
        </div>
    </div>



    <div class="row achievements_content m-0">
        <div class="row border border-2 border-light mt-4 ms-2">
            <div class="col">
                <p> <span class="font_style1"> Nearest Parking</span> <br/> parking system powered by ANPR algorithm which has a camera at the parking gate that recognizes the license plate using the Automatic Number Plate Recognition (ANPR) algorithm and will output the plate number using the optical character recognition (OCR) technique then, compare the resulting data with the records in the CSV file to automatically open the gate. There is IR sensors at each parking lots that senses the existence of the car, where the nearest available parking will be displayed on a digital screen at the parking gate. </p>
            </div>
            <div class="col">
                <img src="/static/images/image1.jpg "  class="border border-1 border-warning rounded mt-2" style="width:450px; height:300px ; object-fit:cover">
                
            </div>
        </div>

    

  

        <div class="row border border-2 border-light ms-2 p-2 m-4">
            <div class="col"> 
                <img src="/static/images/image2.jpg "  class="border border-1 border-warning rounded mt-2" style="width:400px; height:350px ; object-fit:cover">
            </div>
            <div class="col">
                <p> <span class="font_style1"> Smart shose</span> <br/> alternative to the stick for the blind, it is a piece put on the shoes, it is contained sensor that senses obstacles when person is close to the obstacles provide an integrated aid for the blind's mobility, to protect them with a low cost, that covers the blind's requirements to do what it needs to move independently and safely. </p>

            </div>
        </div>

    </div>


    <div class=" activities_background m-0">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column justify-content-center align-items-center mt-5 ">
                    <h1 style="color: white;"> Things I want to do </h1>
                </div>  
            </div>
        </div>
    </div>

    <div class="row m-0 activities_content">
        <div class="row mt-4 ms-4">
            <div class="col">
                <div class="card" style="width: 20rem;  height: 19rem;  background-color: rgb(247, 239, 226);">
                    <img class="card-img-top" src="/static/images/camping.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center"> 
                            <p class="card-text card_style_act" >Camping in a forest</p>
                        </div>
                    </div>
                  </div>
            </div>

            <div class="col">
                <div class="card" style="width: 20rem;  height: 19rem; background-color: rgb(247, 239, 226);">
                    <img class="card-img-top" src="/static/images/Pottery.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center"> 
                            <p class="card-text card_style_act" >Making things by pottery</p>
                        </div>
                    </div>
                  </div>
            </div>

            <div class="col">
                <div class="card" style="width: 20rem; height: 19rem;  background-color: rgb(247, 239, 226);">
                    <img class="card-img-top" src="/static/images/skydiving.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center"> 
                            <p class="card-text card_style_act" >Sky Diving</p>
                        </div> 
                    </div>
                  </div>

            </div>
        </div>

        <div class="row mt-4 ms-4">
            <div class="col">
                <div class="card" style="width: 20rem;  height: 19rem;  background-color: rgb(247, 239, 226);">
                    <img class="card-img-top" src="/static/images/diving.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center"> 
                            <p class="card-text card_style_act" >Diving</p>
                        </div> 
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 20rem; height: 19rem; background-color: rgb(247, 239, 226);">
                    <img class="card-img-top" src="/static/images/hiking.jpeg" alt="Card image cap">
                    <div class="card-body"> 
                        <div class="d-flex justify-content-center align-items-center"> 
                            <p class="card-text card_style_act" >Hiking</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card" style="width: 20rem; height: 19rem; background-color: rgb(247, 239, 226);">
                    <img class="card-img-top" src="/static/images/Snowboarding.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center"> 
                            <p class="card-text card_style_act" >Snowboarding</p>
                        </div>
                    </div>
                </div>
    
            </div>
                
        </div>
    </div>

</div>



{% endblock %}


