{% extends 'main/base.html' %}
{% load static %}

{%block content%}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<div class="row">
    <div class="column">
  
    <video class="img-fluid" autoplay loop muted>
      <source src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/video_2023-09-01_19-42-19.mp4?alt=media&token=e9d83d66-84ea-48de-ab1d-55d52477b4d9" type="video/mp4" />
    </video>
  
    <video class="img-fluid" autoplay loop muted>
      <source
        src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/video_2023-09-01_19-42-56.mp4?alt=media&token=64bea097-5426-4091-bc8d-497648d76667"
        type="video/mp4"
      />
    </video>
  
    <video class="img-fluid" autoplay loop muted>
      <source
        src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/video_2023-09-01_19-42-54.mp4?alt=media&token=a53a1c3b-2826-4247-91ab-a96731751fb1"
        type="video/mp4"
      />
    </video>
  
    </div>
    <div class="column"> 

    <video class="img-fluid" autoplay loop muted>
            <source
             src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/IMG_3517.MOV?alt=media&token=55174c79-a144-4936-8966-6d4e5e210449"
             type="video/mp4" />
          </video>



    <video class="img-fluid" autoplay loop muted>
      <source
        src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/video_2023-09-01_19-42-50.mp4?alt=media&token=d179a8cb-147d-499d-93ee-f66facd83b36"
        type="video/mp4"
      />
    </video>
  
    
  
    <video class="img-fluid" autoplay loop muted>
      <source
        src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/video_2023-09-01_19-42-39.mp4?alt=media&token=2f800dd9-d1a1-4070-969b-0406778799a7"
        type="video/mp4"
      />
    </video>
  
    
  
    <video class="img-fluid" autoplay loop muted>
      <source
       src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/video_2023-09-01_19-42-21.mp4?alt=media&token=6ac6e29c-1fd8-4a2e-afb1-716ebdbe6606"
       type="video/mp4" />
    </video>
    </div>
    <div class="column">
    <video class="img-fluid" autoplay loop muted>
        <source
          src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/video_2023-09-01_19-42-43.mp4?alt=media&token=cc594040-35f4-45b3-9b65-ff50ae0f3101"
          type="video/mp4"
        />
      </video>
  

      <video class="img-fluid" autoplay loop muted>
        <source
          src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/IMG_3514.MOV?alt=media&token=71863319-5b6e-42d8-8ca7-b98f0b6a5d0f"
          type="video/mp4"
        />
      </video>
    
      <video class="img-fluid" autoplay loop muted>
        <source
          src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/video_2023-09-01_19-42-26.mp4?alt=media&token=f9641764-0240-4d27-a697-30b512adbf7c"
          type="video/mp4"
        />
      </video>
      
    
      <video class="img-fluid" autoplay loop muted>
        <source
          src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/IMG_3515.MOV?alt=media&token=e1ef5966-fdae-415e-b9e4-b171fe3999e6"
          type="video/mp4"
        />
      </video>
    
    </div>
    <div class="column">
      
    
      <video class="img-fluid" autoplay loop muted>
          <source
            src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/IMG_3518.MOV?alt=media&token=2ca9c055-8214-4d24-882d-b4aadc38b874"
            type="video/mp4"
          />
        </video>

        <video class="img-fluid" autoplay loop muted>
            <source
              src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/IMG_3516.MOV?alt=media&token=fdf228f6-0f7a-42e0-b9d3-f2f0b9eb3924"
              type="video/mp4"
            />
          </video>


        <video class="img-fluid" autoplay loop muted>
            <source
              src="https://firebasestorage.googleapis.com/v0/b/unit-project3.appspot.com/o/video_2023-09-01_19-42-52.mp4?alt=media&token=7d4ceae1-fe54-420d-9966-cfc3ced5c2ce"
              type="video/mp4"
            />
          </video>
    </div>
  </div>
  

{% endblock %}