{%extends 'main/base.html'%}
{% block title%} home bage {%endblock%}

{% block content %}
<body>
    <marquee behavior="alternate" direction="left">FUTON ALQAHTANI </marquee> 
    <marquee behavior="alternate" direction="right">FUTON ALQAHTANI</marquee>
         
    
   <!-- <center>
        <marquee  behavior="alternate" direction="left">          
              <img src="/static/images/home-1.webp"
              alt="GeeksforGeeks logo" style="width: 150px; height: 150px;"> 
        </marquee>  
        <marquee  behavior="alternate" direction="right">         
            <img src= "/static/images/home-1.webp"
            alt="GeeksforGeeks logo" style="width: 150px; height: 150px;"> 
      </marquee>  
  </center>-->
  
  
</body>
<style>
    body {
        background-image: url("/static/images/home6.webp");
        height: 100%;
        width: 100%;
        background-position:center ;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    </style>
 <!-- <div class="container">
    <div class="row mt-5 p-5">
        <div class="col-6 d-flex flex-colum mt-5 pt-5 text-light">
            <h3> hi</h3>
            <P>futon</p>
        </div>
    </div>
  </div>-->
  <div class="container-fluid">
    <h1>Let's Know<br>FUTON Together!</h1>
    
    <p class="p2">I am a hard-working and driven individual who isn't afraid to face a challenge. I'm passionate about my work and I know how to get the job done.<br> I would describe myself as an open and honest person who doesn't believe in misleading other people and tries to be fair in everything I do..<br> A friendly and sociable person who likes to be around people. Many people like to be around me because they say that I have a good personality and I make people laugh.<br> When people are having a bad day I like to be the one to cheer them up because it makes me happy to see other people happy.</p>     
  </div>
<div class="comtainer" style="margin-top: 300px;">
    <div class="row mt-5 p-5">
        <div class="col" style="margin-bottom: 200px;">
            <h1></h1>
            
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
             <h1></h1>
        </div>
    </div>
</div>
<footer>
    <div class="contentWM d-flex flex-column align-items-center justify-content-center">  
        <h1>Contact me</h1>
        
     <ul>
       <li><a href="https://www.linkedin.com/in/futon-alqahtani-url">Linkedin</a></li>
       <li><a href="https://wa.me/0500320941">WhatsApp</a></li>
     </ul>
  </div>
   

</footer>


      
     
        

   

</body>
</html>




{% endblock %}