{%extends 'main/base.html'%}
{% block title%} Best moments {%endblock%}
{% block style %}
<style>

 body {
  background-color:rgba(72, 0, 0, 0.816);
 }

</style>
{% endblock %}
{% block content %}
<marquee class="mq1"  behavior="alternate" direction="left" loop="">I keep this love in a photograph ♡</marquee>
<marquee class="mq1"  behavior="alternate" direction="right" loop="">we made these memories for ourselves♡</marquee>
<marquee class="mq1"  behavior="alternate" direction="up" loop="">Let me photograph you in this light
    In case it is the last time</marquee>





<div id="carouselExampleCaptions1" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/bm1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 50px; color: black;">GOAT</h5>
          <p style="font-size: 20px; color: rgb(0, 0, 0);">When the goat was in front of my eyes!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/bm2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 50px; color: white;"> A lot of love </h5>
          <p style="font-size: 20px; color: white;">A friend shows me how she's proud of me in her way!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/bm3.jpg" class="d-block w-100" alt="....">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 50px ; color:black;">lovely night</h5>
          <p style="font-size: 20px ; color:black;">spend time with old friend!/p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  

 <div id="carouselExampleCaptions2" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/bm4.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 50px ; color:black;">over the moon</h5>
          <p style="font-size: 20px ; color:black;"> The first day in Tuwaiq Academy</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/bm5.jpg" class="d-block w-100" alt="....">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 50px ; color:black;"> graduation celebrat</h5>
          <p style="font-size: 20px ; color:black;"> Family celebrations for my graduation!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/bm10.jpg" class="d-block w-100" alt="....">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 50px ; color:white;"> Graduation dinner</h5>
          <p style="font-size: 20px ; color:white;">dinner on my best day</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div id="carouselExampleCaptions3" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/bm11.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 50px ; color:white;">Graduation Dat! </h5>
          <p style="font-size: 20px ; color:white;"> A lot of flowers in my Best Day</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/bm8.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 50px ; color:white;">my blue caitiy</h5>
          <p style="font-size: 20px ; color:white;">the first time meeting this beautiful</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/bm9.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 50px ; color:black;">moment with love</h5>
          <p style="font-size: 20px ; color:black;">A beautiful moment with my cousin</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}