{% extends 'main/index.html' %}

{% block title %} about me  {% endblock %}

{% block content %}
<div class="container row sqs-row text-align:center;" id="yui_3_17_2_1_1693853234094_533"><div class="col sqs-col-6 span-6 text-align:center;"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1659434886112_11126"><div class="sqs-block-content">
    <div class="sqs-html-content text-align:center; ">
        <h1 style="text-align:center;white-space:pre-wrap; text-align:center;"><em>Hey, I’m Hassan…</em></h1><p style="text-align:center;white-space:pre-wrap; text-align:center;" class="text-align:center;">Highly motivated in Computer Information system and software development Passionate about learning new technical, social and personal
            skills. Seeking full-time employment in a challenging position that will utilize my skills and competencies
            .</p><p style="text-align:center;white-space:pre-wrap; text-align:center;" class="text-align:center;"> I’m good at convincing people and when there is a problem I take every side of a view of this problem then I provide solutions and I’m very careful about my decision and I take my study and my work very seriously my weakness is that I’m not good at memorising things have to understand the things before I memorise it and my other weakness is that I take my study and work very seriously more than my social life and I notes that and the other people around me notice it so I am prove myself the two specialise in time for my social life and my family and my friends</p>
    </div>
</div></div></div><div class="col sqs-col-6 span-6" id="yui_3_17_2_1_1693853234094_532"><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="59.47467166979362" data-block-type="5" id="block-yui_3_17_2_1_1659433473236_1845"><div class="sqs-block-content" id="yui_3_17_2_1_1693853234094_531">
    <div class="image-block-outer-wrapper layout-caption-hidden design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1693853234094_530">
        <figure class="sqs-block-image-figure intrinsic" style="max-width:2500px;" id="yui_3_17_2_1_1693853234094_529">
            <div class="image-block-wrapper" data-animation-role="image" id="yui_3_17_2_1_1693853234094_528">
                <div class="sqs-image-shape-container-element has-aspect-ratio" style="position: relative; padding-bottom:59.47467041015625%; overflow: hidden; -webkit-mask-image: -webkit-radial-gradient(white, black);" id="yui_3_17_2_1_1693853234094_527">
               <img class="about_me" src="/static/images/hassanIMG.jpeg" style=" float: right; display:block;object-fit: cover; width: 50%; height: 50%; object-position: 50% 50%" >
                </div>
            </div>
        </figure>
    </div>
      
    
    
      
    
    
    </div></div></div></div>
{% endblock %}