{%extends 'main/base.html'%}

{%block title%} About Me {%endblock%}



{%block content%}

<div class="row pt-4">
  <div class="col-12 col-md-6 order-2 order-md-1">
      <div class="d-flex flex-column justify-content-center align-items-center h-100 text-warning">
          <h1 class="text-background-danger p-3 mb-3 bg-warning-subtle">hey, I'm Nada</h1>
          <p class="text-center"> I recently graduated from princes noura University with a bachelor's degree in information technology ,In my free time, I watch TV and play computer games. And I also go to the cinema a lot and play basketball every weekend. I love rock music and jazz, but I hate shopping for clothes. </p>
      </div> 
  </div>
  <div class="col-12 col-md-6 g-0 order-1 order-md-2">
      <img class="w-100 rounded-4" src="/static/images/about_me.jpeg" />
  </div>
</div>

  {%endblock%}