{% extends 'main/base.html' %}

{% block title %} add post {% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Adding post</h2>
        <form  action="{% url 'main:add_childrenShirt_view' %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
            {% csrf_token %}
            <label>title</label>
            <input type="text" name="title" />
            <label>price:</label>
            <textarea name="price"></textarea>
            <label>Choose Image: </label>
            <input type="file" name="image" class="form-control"/>
            <input type="submit" value="Add post" class="btn btn-primary"/>
        </form>
    </div>
</div>
{% endblock %}

