{% extends 'main/index.html' %}

{% block title %} education {% endblock %}

{% block content %}
<div class="row">
<div class="col container">
<div id="king" class="container">
<div class=" container row sqs-row text-align:center;" id="yui_3_17_2_1_1693853234094_533"><div class="col sqs-col-6 span-6 text-align:center;"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1659434886112_11126"><div class="sqs-block-content">
    
</div></div></div><div class="col sqs-col-6 span-6" id="yui_3_17_2_1_1693853234094_532"><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="59.47467166979362" data-block-type="5" id="block-yui_3_17_2_1_1659433473236_1845"><div class="sqs-block-content" id="yui_3_17_2_1_1693853234094_531">
    <div class="image-block-outer-wrapper layout-caption-hidden design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1693853234094_530">
        <figure class="sqs-block-image-figure intrinsic" style="max-width:2500px;" id="yui_3_17_2_1_1693853234094_529">
            <div class="image-block-wrapper" data-animation-role="image" id="yui_3_17_2_1_1693853234094_528">
                <div class="sqs-image-shape-container-element has-aspect-ratio" style="position: relative; padding-bottom:59.47467041015625%; overflow: hidden; -webkit-mask-image: -webkit-radial-gradient(white, black);" id="yui_3_17_2_1_1693853234094_527">
                </div>
            </div>
        </figure>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="sqs-html-content text-align:center; pt-5 ">
	<h1 style="text-align:center;white-space:pre-wrap; text-align:center;"><em>EDUCATION,<br> Bachelor of Science in Computer Information System</em></h1><p style="text-align:center;white-space:pre-wrap; text-align:center;" class="text-align:center;">Highly motivated in Computer Information system and software development Passionate about learning new technical, social and personal
		skills. Seeking full-time employment in a challenging position that will utilize my skills and competencies
		.</p>
		<hr>
		<h2 class="text-align:center; text-center">PROJECTS</h2>
		<h4 class="text-align:center; text-center">AqaraTech</h4>
		<h6 class="text-align:center; text-center">King Faisal University • September 2021 - May 2022</h6>
		<p style="text-align:center;white-space:pre-wrap; text-align:center;" class="text-align:center;">• Development of a complete information system with name of AqaraTech using software development life cycle methods and tools.
			• Create and design of context diagrams.
			• Development of Data flow diagrams.
			• Creation of Entity relationship diagrams.
			• System Development using flutter for building cross-platform applications.</p>
			<hr>
			<hr>
		
		<h4 class="text-align:center; text-center">Weather Web</h4>
		<h6 class="text-align:center; text-center">King Faisal University • March 2021 - April 2021</h6>
		<p style="text-align:center;white-space:pre-wrap; text-align:center;" class="text-align:center;">
			• Weather Web application to display real time data in user friendly interface.
• Contain information about precipitation, wind speed and direction, relative humidity, atmospheric pressure, and other things as well.
• Using the following development languages: HTML, CSS, JavaScript, PHP.</p>
			<hr>
			<hr>
		
		<h4 class="text-align:center; text-center">Coffee Shop application</h4>
		<h6 class="text-align:center; text-center">King Faisal University • July 2018 - August 2018</h6>
		<p style="text-align:center;white-space:pre-wrap; text-align:center;" class="text-align:center;">
			• A program that enables the customer to create his order, edit and delete it.
• Using the development languages and tools: C++ .
• Organize the work and distribute tasks to my colleagues on the project.</p>
			<hr>
</div>

{% endblock %}