{%extends 'main/base.html'%}

{%block title%} Nada Abdullah  {%endblock%}



{%block content%}
<h1 class="offcanvas-title text-info text-center bg-info-subtle ">Welcome to my website</h1>
<div class="top">
  <h3>hey, I'm Nada</h3>
  </div>
  <h1 class="offcanvas-title text-info text-center bg-info-subtle ">My logo designs</h1>
  <div class="col-4 mt-4">
    <div class="d-flex flex-column gap-3 border border-1 shadow rounded-4 p-4 mt-1  h-100 ">
        <img src="static/images/logo1.jpeg "  class="rounded-4 object-fit-cover border border-1 book-poster" />
        <h3 class="text-center ">Lettermarks</h3> 
    

    </div>  




  {%endblock%}