{%extends 'main/base.html'%}

{%block title%} Podcast {%endblock%}



{%block content%}

<div class="row pt-4">
    <div class="col-12 col-md-6 order-2 order-md-1">
    </div>
    <div class="col-12 col-md-6 g-0 order-1 order-md-2">
        <img class="w-50 rounded-4" src="/static/images/podcast1.jpeg" />
        <p> A suspenseful and psychological podcast that follows and analyzes crime threads, taking the listener to many destinations of excitement, thought, and contemplation of the secrets of real-life stories. </p>
    </div>
    <div class="col-12 col-md-6 g-0 order-1 order-md-2">
        <img class="w-50 rounded-4" src="/static/images/podcast2.jpeg" />
        <p> A podcast with a social, psychological, and sometimes philosophical nature, for one destination, the destination of enjoyable enrichment</p>
    </div>
    <div class="col-12 col-md-6 g-0 order-1 order-md-2">
        <img class="w-50 rounded-4" src="/static/images/podcast3.jpeg" />
        <p>A news podcast every day in the morning , showing you the context of the news that matters to you in ten minutes</p>
    </div>
    <div class="col-12 col-md-6 g-0 order-1 order-md-2">
        <img class="w-50 rounded-4" src="/static/images/podcast4.jpeg" />
        <p>“Abjoura”podcast, which won the New Media Award for the year 2017 for the extent of its influence and the depth of its topics. Lubna Al-Khamis seeks to convey inspiring ideas to her audience through various episodes, in which she narrates readings, experiences, and rich information, linking the past with the present and the East with the West </p>
    </div>
    <div class="col-12 col-md-6 g-0 order-1 order-md-2">
        <img class="w-50 rounded-4" src="/static/images/podcast5.jpeg" />
        <p>every Sunday. My guest is Abdul Rahman Abu Maleh .on podcast fnjan we'll take a sip of every taste. There are no standards or specific topics, but what is certain is that there is a lot of fun and benefit here. </p>
    </div>
  </div>


  {%endblock%}