{% extends 'main/base.html' %}


{% block title %} {{request.user.first_name}} product  {% endblock %}

{% block content %}

<h2>{{request.user.first_name}} products </h2>


<hr>

{% for product in request.user.product_set.all %}

    <div class="d-flex gap-2 p-4 m-2">
        <div>
            {% if product.child_shirt %}
            <img src="{{product.child_shirt.image.url }}" class="small-poster object-fit-cover rounded-4 "style="width: 150px;height: 150px;" />
            <a href="{% url 'main:remove_product_view' product.child_shirt.id %}" class="btn btn-danger">Delete</a>
            <h3><a href="{% url 'main:child_shirt_detail_view' product.child_shirt.id %}">{{ product.child_shirt.title }}</a></h3>
            <h5>{{ product.child_shirt.price }}</h5>
            {% else %}
            <img src="{{product.shirt.image.url }}" class="small-poster object-fit-cover rounded-4 "style="width: 150px;height: 150px;" />
            <a href="{% url 'main:remove_product_view' product.shirt.id %}" class="btn btn-danger">Delete</a>
            <h3><a href="{% url 'main:shirt_detail_view' product.shirt.id %}">{{ product.shirt.title }}</a></h3>
            <h5>{{ product.shirt.price }}</h5>
            {% endif%}
        </div>
    </div>

{% endfor %}
<a href="../main/checkout.html/"><button type="submit" class="button" action="main/checkout.html/">CheckOut</button></a>

{% endblock %}