{% extends 'main/base.html' %}


{% block title %} All shirts in Our Store {% endblock %}

{% block content %}

<div class="d-flex justify-content-between mt-4">
    <h1> Search Results for "<span class="text-success"> {{ request.GET.search }} </span>"</h1>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Order By
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'main:shirts_view' %}">All</a></li>
          <li><a class="dropdown-item" href="{% url 'main:shirts_view' %}?top=True">by Top Rating</a></li>
        </ul>
      </div>
</div>

<div class="row">
{% for shirt in main %}
    <div class="col-4 mt-4">
        <div class="d-flex flex-column gap-3 border border-1 shadow rounded-4 p-4 mt-1  h-100 justify-content-between">
            <h3>{{ shirt.title }}</h3>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-1 align-items-center">
                    <h6 class="p-0 m-0"> {{shirt.price}}</h6>
                    <span class="material-symbols-outlined">star</span>
                </div>
                
            </div>
            
            <a href="{% url 'main:shirt_detail_view' shirt.id %}" class="d-flex justify-content-between text-decoration-none">
                <h5>more</h5>
                <span class="material-symbols-outlined">open_in_full</span>
            </a>
        </div>
    </div>

{% endfor %}
</div>

{% endblock %}