{% extends 'main/base.html' %}

{% block title %} Details for shirt {{ shirt.title }} {% endblock %}

{% block content %}
<div class="d-flex flex-column gap-2">
    <h2>{{ shirt.title }}</h2>
    <div class="d-flex justify-content-between">
        <h3>{{shirt.price}}</h3>

        {% if request.user.is_staff %}
        <div>
          
            <a href="{% url 'main:shirt_update_view' shirt.id %}" class="btn btn-warning">Update</a>
            <a href="{% url 'main:shirt_delete_view' shirt.id %}" class="btn btn-danger">Delete</a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-4 d-flex justify-content-end gap-4">
            <img src="{{ shirt.image.url }}" class="rounded-4 w-100" />
        </div>
        <h1><a href="{% url 'main:add_product_view' shirt.id %}" class=""><span class="material-symbols-outlined">shopping_cart</span></a></h1>

        <p class="col">{{ shirt.price }}</p>
    </div>
    <hr />
    <h4>Comments</h4>
    <div class="mt-4">
        {% for comment in comments %}
        <div class="d-flex flex-column gap-1 border border-1 rounded p-4 mt-3">
            <h4>{{comment.user.first_name}}</h4>
            <h6>{{ comment.created_at }}</h6>
            <p>{{ comment.content }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="row mt-4">
        <div class="col-6">
          {% if request.user.is_authenticated %}
            <form action="{% url 'main:shirt_detail_view' shirt.id %}" method="post" >
                {% csrf_token %}
                
                <textarea  class="form-control mt-2" name="content"  placeholder="Your comment"></textarea>
                <label>Rating: </label>
                <select name="rating" class="form-select">
                    {% for value, title in Comment.rating_choices %}
                    <option value="{{value}}">{{title}}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-primary mt-2" type="submit" value="Add Comment" />
            </form>
            {%else%}
            <div>
              <h5>To comment, Please <a href="{% url 'accounts:login_user_view' %}">sign in</a> , or <a href="{% url 'accounts:register_user_view' %}">sign up</a> </h5>

            </div>
            {% endif %}
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete shirt</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <span class="fw-bold">{{shirt.title}}</span> ? 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'main:shirt_delete_view' shirt.id %}"  class="btn btn-danger">Yes, Delete!</a>
        </div>
      </div>
    </div>
  </div>
<!-- End  Modal -->




{% endblock %}