{% extends 'main/base.html' %}

{% block title %} New User Registeration {% endblock%}
{%block img%}
<div class="home" style="
position: relative;
height: 150vh;
width: 100%;
background-image: url('/static/imge/backg.jpg');
background-size: cover;
background-repeat:no-repeat;
">
{%endblock%}
{% block content %}
   
    <div class="wrapper">
        <div class="form-box login">
            <h2>Register</h2>
            <form action="{% url 'accounts:register_user_view' %}" method="post" >
                {% csrf_token %}
                <div class=" input-box">
                    <span class="icon"><span class="material-symbols-outlined">person</span></span>
                    <input type="text" name="first_name"/>
                    <label>First Name</label>
                </div>
                <div class=" input-box">
                    <span class="icon"><span class="material-symbols-outlined">person</span></span>
                    <input type="text" name="last_name" />
                    <label>Last Name</label>
                </div>
                <div class=" input-box">
                    <span class="icon"><span class="material-symbols-outlined">person</span></span>
                    <input type="text" name="username" />
                    <label>User Name</label>
                </div>
                <div class=" input-box">
                    <span class="icon"><span class="material-symbols-outlined">mail</span></span>
                    <input type="email" name="email" />
                    <label> Email</label>
                </div>
                <div class=" input-box">
                    <span class="icon"><span class="material-symbols-outlined">lock</span></span>
                    <input type="password" name="password"  />  
                    <label> Password</label>
                </div>
                <input type="submit" value="Register" class="btn"/>
                <div class="login-register">
                    <p>you have an account?<a href="{% url 'accounts:login_user_view' %}" class="register-link" style="color: blue;"> Log in</a></p>
                </div>
    

            </form>

        </div>
    </div>
    
{% endblock %}