body{
    font-family: 'Quicksand', sans-serif;

}
.nav-item a:hover{
    background-color:#D8E2DD;
   
    }
 .iconmedia:hover{
        color: #aeddc6!important;
        
} 
.shado:hover, .btn:hover{
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: pulse; 
    animation-duration: 2s;
    
} 

.nav-itemp:hover{
    animation: pulse; 
    animation-duration: 2s;
}
 /*
img:hover{
    animation: flash; 
    animation-duration: 2s;   
}*/
.dec{
    margin-top: 270px !important;
}
.title{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 50px;
    color:#1e6463;

}
.phrase{
    color:#737878d4;
   text-align: center;
   font-size: 20px;
   font-family: 'Quicksand', sans-serif;

}
.dec2{
    margin-top: 150px !important;
}
.phrase2{
    color:#000000d4;
   text-align: center;
   font-size: 20px;
   font-family: 'Quicksand', sans-serif;

}
.homp{
    background-color:#D8E2DD;
}

 .titlev{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 30px;
    color:#1e6463;


}


.backpic{
    background-color: rgba(4, 95, 54, 0.3);
    
   
}

.backpic2{
    background-color: rgba(105, 2, 24, 0.3);
   
}


  .image-container {
    width: 390px; /* Adjust the desired width of the image container */
    height: 300px; /* Adjust the desired height of the image container */
    overflow: hidden;
  }
  
  .image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
