
{% extends 'main/base.html' %}

{% block title %}about {% endblock %}

{% load static %}

{% block content %}

<section class="about" id="about">
    <div class="about-img">
<img src="{% static 'images/hejaz.png'%}">
</div>
    <div class="about-text">
        <h2>About<span>Me</span></h2>

        <p> I am Sarah Naghi, a passionate individual who graduated from King Abdulaziz University, specializing in and information technology.
            Technology has always held a special place in my heart, igniting my curiosity and driving my desire to explore its endless possibilities.
            I was born and raised in Jeddah, where I enjoy the company of my family, including my treasured seven bears, who hold a special place in my heart and are considered as my children.
            I have diverse interests that have shaped my personality in unique ways. Living independently after resigning, I discovered my inclination towards cleanliness, order, and the value of time.

Sports are integral to my life, especially intense workouts that help me channel negative energy. I enjoy exploring various sports, with volleyball and basketball being my favorites.

Exploring culinary delights is another passion of mine. I love trying diverse cuisines, with a focus on healthy eating. Coffee is essential to me, and I can't start my day without a cup.

While I have achieved some milestones, I have many ambitions and goals left to accomplish. One notable achievement was being part of Tuwaiq Academy, which sparked my enthusiasm for programming. My major goals include mental well-being, physical fitness, professional and academic success, exciting endeavors, travel, spiritual fulfillment, work-life balance, and finding happiness.

Fundamental values and beliefs guide my pursuit of a fulfilling life. Education and personal development are paramount to me. I strongly believe in respect, honesty, justice, equality and optimism
        </p>

    </div>
  
</section>

{% endblock %}