{% extends 'main/base.html' %}
{% block title %} About {% endblock title %}
{% block body %}
        <!-- ABOUT -->
        <section id="about" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">ABOUT</h6>
                        <h1>Education & Experiance</h1>
                    </div>
                </div>

                <div class="col-lg-6">

                    <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experiance</h3>
                    <div class="row gy-4">

                        <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                            <div class="bg-base p-4 rounded-4 shadow-effect">
                                <h4>Training At Sami Advanced Electronics Company
                                </h4>
                                <p class="text-brand mb-2">AEC SAMI 2022 (June - Aug)</p>
                                <p class="mb-0">Worked closely with Software developers and assisted them in projects using javascript and built my own CRUD Operation system Using JavaScript.</p>
                            </div>
                        </div>
                        <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                            <div class="bg-base p-4 rounded-4 shadow-effect">
                                <h4>Full stack developer (Python & django)</h4>
                                <p class="text-brand mb-2">2023 (July - now)</p>
                                <p class="text-brand mb-2"></p>Tuwaiq academy at Saudi Federation for Cyber Security and Programming
                            </div>
                        </div>


            

                    </div>

                </div>
                <div style="margin-top: 10px;" class="row gy-5">
                    <div class="col-lg-6">

                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Education</h3>
                        <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Bachelor degree in Information Technology</h4>
                                    <p class="text-brand mb-2">(2018 - 2023)</p>
                                    <p class="mb-0">Qassim University</p>

                                    <br>
                                    <!-- <p class="mb-0">All we are mo</p> -->
                                </div>
                            </div>


                           

                        </div>

                    </div>

                            <div style="margin-top: 10px;" class="row gy-5">
                                <div class="col-lg-6">
            
                                    <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">CERTIFICATES</h3>
                                    <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Trainee</h4>
                                    <p class="text-brand mb-2">Certificate Of Training</p>
                                    <p class="mb-0">SAMI Advanced Electronics Company</p>
                                </div>
                            </div>
                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Programming with JavaScript
                                    </h4>
                                    <p class="text-brand mb-2">Meta</p>
                                </div>
                            </div>
                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Introduction to Front-End Development

                                    </h4>
                                    <p class="text-brand mb-2">Meta</p>
                                </div>
                            </div>
                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>HCIA-Internet Of Things
                                    </h4>
                                    <p class="text-brand mb-2">Huawei & SDA</p>
                                </div>
                            </div>


                

                        </div>

                    </div>



                </div>

            </div>
            
        </section>
        
        <!-- //ABOUT -->
        {% endblock body %}
