{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Abdulmalik Almozini Full Stack Developer {% endblock title %}</title>
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/aos.css">
    <link rel="stylesheet" href="/static/styles/line-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.flaticon.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container flex-lg-column">
            <a class="navbar-brand mx-lg-auto mb-lg-4" href="#">
                <span class="h3 fw-bold d-block d-lg-none">Abdulmalik</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto flex-lg-column text-lg-center">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:intro_view' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:service_view' %}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:work_view' %}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:about_view' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:blog_view' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:contact_view' %}">Contact</a>
                    </li>
                    {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:add_service_view' %}">Add service</a>
                    </li>
                    <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'services:manage_request' %}">Show Reqests</a>
                        </li>
                        {% elif request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'main:about_view' %}" data-bs-toggle="" style="color: #deff58;" aria-expanded="false">{{ request.user.first_name }}</a>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'services:show_request_view' %}">My reqests</a>
                        </li>  

                        {% else %}
                        <a class="nav-link" href="{% url 'accounts:register_user_view' %}" data-bs-toggle="" aria-expanded="false">Register</a>

                        {% endif %}
                          {% if request.user.is_authenticated %}
                            <li><a class="nav-link" href="{% url 'accounts:logout_user_view' %}">Log Out</a></li>
                          {% else %} 
                            <li><a class="nav-link" href="{% url 'accounts:login_user_view' %}">Log In</a></li>               
                          {% endif %} 
                      </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- //NAVBAR -->

    <!-- CONTENT WRAPPER -->
    <div id="content-wrapper">
        {% block body %}

        {% endblock body %}


        <footer class="py-5 px-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-center">
                    <div class="col-auto">
                        <p class="mb-0">Designed by <a href="#" class="fw-bold">Abdulmalik</a></p>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                    </div>
    </div>



    <script src="./static/js/bootstrap.bundle.min.js"></script>
    <script src="./static/js/aos.js"></script>
    <script src="./static/js/main.js"></script>
</body>

</html>