
{% extends 'main/base.html' %}

{% block title %}skills {% endblock %}

{% load static %}

{% block content %}

<section>
    <h1 class="sub-title1"> My <span>Skills</span></h1>
    <div class="row pb-4 mb-4">
        <div class="col container1" id="skills">
            <h1 class="heading1 mb-5">Technical Skills</h1>
            <div class="technical-bars">
                    <div class="bar"><i style="color:yellow" class='bx bxl-javascript'></i>
                        <div class="info">
                            <span>Javascript</span>
                        </div>
                        <div class="progress-line javascript">
                            <span> </span>
                        </div>
                        </div>
    
                        <div class="bar"><span style="color:rgb(131, 98, 215)" class="material-symbols-outlined">php</span>
                            <div class="info">
                                <span>PHP</span>
                            </div>
                            <div class="progress-line php">
                                <span> </span>
                            </div>
                            </div>
                    
    
                            <div class="bar"><i style="color:rgb(107, 2, 107)"class='bx bxl-python'></i>
                                <div class="info">
                                    <span>Python</span>
                                </div>
                                <div class="progress-line python">
                                    <span> </span>
                                </div>
                            </div>
    
                            <div class="bar"><i style="color:rgb(198, 131, 5)"class='bx bxl-html5'></i><i style="color:rgb(53, 99, 199)"  class='bx bxl-css3'></i>
                                    <div class="info">
                                        <span>HTML - CSS</span>
                                    </div>
                                    <div class="progress-line html">
                                        <span></span>
                                    </div>
                                    </div>
                                    <div class="bar"><i style="color:green" class='bx bxl-java'></i>
                                        <div class="info">
                                            <span>Java</span>
                                        </div>
                                        <div class="progress-line java">
                                            <span></span>
                                        </div>
                                    </div>
                        </div>
                    </div> 
    
                                <div class="col container2">
                                    <h1 class="heading1">Professtional Skills</h1>
                                    <div class="radial-bars">
                                        <div class="radial-bar">
                                            <svg x="opx" y="0px"
                                                viewBox="0 0 200 200">
                                                <circle class="progress-bar"
                                                    cx="100"
                                                    cy="100" r="80"></circle>
                                                <circle class="path path-1" cx="100"
                                                    cy="100" r="80"></circle>
                                            </svg>
                                            <div class="percentage">90%</div>
                                            <div class="text">creativity</div>
                                        </div>
                                        <div class="radial-bar">
                                            <svg x="opx" y="0px"
                                                viewBox="0 0 200 200">
                                                <circle class="progress-bar"
                                                    cx="100"
                                                    cy="100" r="80"></circle>
                                                <circle class="path path-1" cx="100"
                                                    cy="100" r="80"></circle>
                                            </svg>
                                            <div class="percentage">75%</div>
                                            <div class="text">communication</div>
                                        </div>
                                        <div class="radial-bar">
                                            <svg x="opx" y="0px"
                                                viewBox="0 0 200 200">
                                                <circle class="progress-bar"
                                                    cx="100"
                                                    cy="100" r="80"></circle>
                                                <circle class="path path-1" cx="100"
                                                    cy="100" r="80"></circle>
                                            </svg>
                                            <div class="percentage">65%</div>
                                            <div class="text">Problem Solving</div>
                                        </div>
                                        <div class="radial-bar">
                                            <svg x="opx" y="0px"
                                                viewBox="0 0 200 200">
                                                <circle class="progress-bar"
                                                    cx="100"
                                                    cy="100" r="80"></circle>
                                                <circle class="path path-1" cx="100"
                                                    cy="100" r="80"></circle>
                                            </svg>
                                            <div class="percentage">85%</div>
                                            <div class="text">Team Work</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

</section>

{% endblock %}