{% extends 'main/base.html' %}
{% block title %} Projects {% endblock title %}

{% block body %}

        <!-- WORK -->
        <section id="work" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">WORK</h6>
                        <h1>Recent Projects</h1>
                    </div>
                </div>

                <div class="row gy-4">
                    

                    <div  class="col-md-6" data-aos="fade-up">
                        <div style="height: 500px !important;" class="card-custom rounded-4 bg-base shadow-effect">
                            <div style="height: 250px !important;" class="card-custom-image rounded-4">
                                <img class="rounded-4" src="/static/images/image (2).png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h2 class="text-brand mb-2">Sentiment analysis</h2>
                                <h5 class="mb-4">
                                    To perform Sentiment analysis on social media reviews, classify them into positive, negative, or natural Sentiments, and build a model to predict the Sentiment of new reviews
                                </h5>
                                <a href="https://www.wbscodingschool.com/blog/what-is-tutorial-hell-how-to-get-out/" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div  class="col-md-6" data-aos="fade-up">
                        <div style="height: 500px !important;" class="card-custom rounded-4 bg-base shadow-effect">
                            <div  class="card-custom-image rounded-4">
                                <img style="height: 250px !important;" class="rounded-4" src="/static/images/image (4).png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h2 class="text-brand mb-2">Bookcaze</h2>
                                <h5 class="mb-4">
                                    Bookcaze is an online book seller with a large catalogue, offering new books and ebooks.</h5>
                                <a href="https://www.wbscodingschool.com/blog/what-is-tutorial-hell-how-to-get-out/" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div  class="col-md-6" data-aos="fade-up">
                        <div style="height: 500px !important;" class="card-custom rounded-4 bg-base shadow-effect">
                            <div style="height: 250px !important;" class="card-custom-image rounded-4">
                                <img class="rounded-4" src="/static/images/image (3).png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h2 class="text-brand mb-2">Prayer Timings</h2>
                                <h5 class="mb-4">
                                    Website prayer Timings for all cities in Saudi Arabia using API by JavaScript</h5>
                            <a href="https://www.wbscodingschool.com/blog/what-is-tutorial-hell-how-to-get-out/" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div  class="col-md-6" data-aos="fade-up">
                        <div style="height: 500px !important;" class="card-custom rounded-4 bg-base shadow-effect">
                            <div style="height: 250px !important;" class="card-custom-image rounded-4">
                                <img class="rounded-4" src="/static/images/image (6).png" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h2 class="text-brand mb-2">Text To Speach </h2>
                                <h5 class="mb-4">
                                    Text to speech converter or Text to voice generator </h5>
                            <a href="https://www.wbscodingschool.com/blog/what-is-tutorial-hell-how-to-get-out/" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- //WORK -->
        {% endblock body %}
