{% extends 'main/base.html' %}


{%block title %}About Me{%endblock%}

{% block con %}

    <section class="about" id="about">
        <div class="about_img">
            <img src="/static/images/home_icon.png" alt="">
        </div>
        <div class="about-content">
            <h2 class="heading">
                about <span>Me</span>
            </h2>
            <h3>Hi, I'm Here to help you with your  next project  </h3>
            <p>
                An ambitious, and highly motivated fresh computer science graduate with a strong foundation in software development and programming principles proficient in a variety of platforms, languages with an innate ability to learn and master new technologies Furthermore I'm seeking an internship opportunity to expand skills and gain valuable real world experience
            </p>

        </div>
    </section>


{%endblock%}