{% extends 'main/base.html' %}


{%block title %}About Me{%endblock%}

{% block con %}

    <section class="about" id="about">
        <div class="about_img">
            <img src="/static/images/home_icon.png" alt="">
        </div>
        <div class="about-content">
            <h2 class="heading">
                about <span>Me</span>
            </h2>
            <h3>Hi, I'm Here to help you with your  next project  </h3>
            <p>
                here you will find anything about me and some more things about me thy 
            </p>
            <a href="#" class="btnDown">Read more </a>
        </div>
    </section>


{%endblock%}