{% extends 'main/base.html' %}


{%block title %}KHALED{%endblock%}

{% block con %}

    <section class="home" id="home">
        <div class="home-content">
            <h3>
                Hello, Iam
            </h3> 
            <h1>
                Khaled Alghamdi
            </h1>
            <p>
                im a deveolper and  hfkds k jhsdakfj hksd fkjsah 
                s dfkjhs fkjhsa kdj
            </p>
            
            <div class="social-media">
                <a href="#"><i class='bx bxl-linkedin-square' ></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
            </div>

            <a href="/media/pdf/CV.pdf" target="_blank" class="btnDown">Download CV</a>

        </div>
        <div class="profession-container">
            <div class="profession-box">
                <div class="profssion" style="--i:0;" >
                    <i class='bx bx-code-alt'></i>
                    <h3>Full Stack</h3>                   
                </div>
                <div class="profssion" style="--i:1;">
                    <i class='bx bx-data' ></i>
                    <h3>Data Base</h3>                   
                </div>
                <div class="profssion" style="--i:2;">
                    <i class='bx bx-code-alt'></i>
                    <h3>Deveolper</h3>                   
                </div>
                <div class="profssion" style="--i:3;">
                    <i class='bx bx-analyse'></i>
                    <h3>Data Analyst</h3>                   
                </div>
                <div class="circle"></div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="home_image">
            <img src="/static/images/home_icon.png" alt="">
        </div>
    </section>

{% endblock %}