body{
    background-color: #202124;
}

.navbar{
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;
    height: 120px;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.nav-item .nav1{
    text-decoration: none;
    color: white;

}
.nav1:hover{
    color: #e74854;

}
.logo{
    gap: 20px;
    display: flex;
    flex-direction: row;
    color: #e74854;
}
.nav2{
    text-decoration: none;
    color: #e74854;
}
.text_descr1{
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 160px;
}
.text_descr2{
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: center;
    font-size: 40px;
}
span{
    color: #e74854;
}

.button_descr{
    margin-top: 50px;
    text-align: center;
}
.button_descr a{
    color: white;
    background-color:#b13741;
    padding: 20px 40px;
    border-radius: 35px;
    text-decoration:none ;
}
.button_descr a:hover{
    color: #b13741;
    background-color:#202124;
    border: 1px solid #b13741;
}
._text .material-symbols-outlined{
    font-size: 60px;
}
._text{
    font-size:40px ;
    text-align: center;
    margin-top: 600px;
    color: white;
    width: 100%;
    height: auto;
}
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}
.desc{
    width: 600px;
    height: 300px;
    background-color: #303134;
}
.iconn{
    font-size: 20px;


}
.contactsSt{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.skill_inside{
    padding: 20px;
    border-radius: 20px;
    border-top: 3px solid #b13741;
    border-bottom: 3px solid #b13741;
    display: block;
    background-color:#303134;
    align-items: start;
    justify-content: left;
    text-align: start;
    font-family: 'Bacasime Antique', serif;    
    font-size: 20px;
}
.profile{
    color: white;
    width: 600px;
    height: 500px;
    background-color: #303134;
    border-bottom: 3px solid #e74854;
    border-top: 3px solid #e74854;
    border-radius: 30px;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
}
/* .background{
    background-image: url('/static/img/pexels2.jpeg');
    width: 100%;
    height: 700px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0px;

} */

.services{
    width: 100%;
    margin-top: 60px;

}
.services h1{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;

}
.services_item{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-left: 150px;
    margin-top: 30px;
}
.items{
    background-color: #303134;
    width: 400px;
    height: auto;
    display: block;
    text-align: center;
    justify-content: center;
}
.items:hover{
    transform: scale(1.1);    
    
}
.title_ser{
    font-size: 50px;
}
.titem{
    font-size: 30px;
}
.form_login{
    display: block;
    color: white;
    width: 600px;
    height: 500px;
    background-color: #303134;
    border-bottom: 3px solid #e74854;
    border-top: 3px solid #e74854;
    border-radius: 30px;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
}
.input_form{
    align-items: start;
    justify-content: start;
    text-align: start;
    
}
.bardetail
{
    margin-top: 40px;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
}

.display_request{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-left: 150px;
    margin-top: 30px;

}
.request_item{
    background-color: #303134;
    width: 400px;
    height: auto;
    display: block;
    text-align: center;
    justify-content: center;
}



