{% extends 'main/base.html' %}
{% block title %} projects {% endblock %}

{% block content %}


    <section class="pt-5 pb-5">
        <h3 class="row justify-content-center bg-light p-5 ">My projects </h3>
        <div class="container " >

            <div class="row  ">
               
                
                <div class="col-8 text-left">
                    <a class="btn  mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                          </svg>
                    </a>
                    <a class="btn  mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                          </svg>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row p-4">
    
                                    <div class="col-md-4 mb-3  ">
                                        <div class="card pb-4 shado ">
                                            <img class="img-fluid" alt="100%x280"  src="https://firebasestorage.googleapis.com/v0/b/recipes-c6eff.appspot.com/o/project%2F5.png?alt=media&token=669cb523-26dc-4596-9cbc-9bbb67dfd6f4">
                                            <div class="card-body">
                                                <h4 class="card-title mt-5"> Tourism in Saudi Arabia </h4>
                                                <p class="card-text ">
                                                    The main goal of the project is to showcase tourism in the Kingdom
                                                    It is your gateway to exploring our best cities and their captivating tourist destinations
                                                </p>
                                                <div id="demo1" class="collapse card-text  " > 
                                                    From historical landmarks to natural treasures, we showcase the top tourist attractions in each location. Immerse yourself in the rich tapestry of our land as we showcase a selection of cities, each offering unique experiences and attractions.
                                                </div>
                                                <div class="d-flex">
                                                <button type="button" class="btn " data-bs-toggle="collapse" data-bs-target="#demo1" style="color:#274867;">Read more >></button>
                                                <a class="btn " href="" role="button">go >></a>

                                                 </div>               
                                            </div>
    
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3 ">
                                        <div class="card shado">
                                            <img class="img-fluid" alt="100%x280" src="https://firebasestorage.googleapis.com/v0/b/recipes-c6eff.appspot.com/o/project%2F2.png?alt=media&token=059853fa-61ab-40c2-b8b1-a38532af5bdc">
                                            <div class="card-body">
                                                <h4 class="card-title">ABC Sign</h4>
                                                <p class="card-text">
                                                    The primary goal of the project is to provide an entertaining approach to learning sign language. The project is an interactive application that seamlessly combines education and entertainment.    

                                                </p>
                                                <div id="demo2" class="collapse card-text  " > 
                                                    Initially, the application teaches players how each letter is represented in sign language.  Then, players engage in a game where they must press the corresponding key that matches the displayed picture. The final level presents a challenge: players must select the correct signs that represent the letters in various names.                                                </div>
                                                <div class="d-flex">
                                                <button type="button" class="btn " data-bs-toggle="collapse" data-bs-target="#demo2" style="color:#274867;">Read more >></button>
                                                <a class="btn " href="https://drive.google.com/file/d/1yC3xupENk87qDPURzblZ7ah0hbXZKL-w/view?usp=sharing" role="button">go >> </a>

                                                 </div>                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3 ">
                                        <div class="card shado">
                                            
                                            <img class="img-fluid" alt="100%x280" src="https://firebasestorage.googleapis.com/v0/b/recipes-c6eff.appspot.com/o/project%2F3.png?alt=media&token=5b3cae3e-6ca3-4098-9646-2d248d1b1518">
                                            <div class="card-body">
                                                <h4 class="card-title">Meraas</h4>
                                                <p class="card-text ">
                                                     a website that brings together certified driving instructors to make it easier for anyone who wants to learn to drive all over the Kingdom of Saudi Arabia, Meraas will offer different times and prices to suit many users,
                                                </p>
                                                <div id="demo3" class="collapse card-text  " > 
                                                    just choose the city and Meraas will show the available instructors in user city with their profiles and shows the assessment of each instructor, and the user can communicate with the instructor through conversations and rate the instructor after each lesson.
                                                </div>
                                                <div class="d-flex">
                                                <button type="button" class="btn " data-bs-toggle="collapse" data-bs-target="#demo3" style="color:#274867;">Read more >></button>
                                                <a class="btn mb-0" href="" role="button">go >></a>                                            </div>
                                            </div>
    
                                        </div>
                                    </div>
                                    
                                    
                                </div></div>
                            <div class="carousel-item">
                                <div class="row p-4">
    
                                  
                                    <div class="col-md-4 mb-3  ">
                                        <div class="card shado">
                                            
                                            <img class="img-fluid" alt="100%x280"  src="https://firebasestorage.googleapis.com/v0/b/recipes-c6eff.appspot.com/o/project%2Fimage.png?alt=media&token=6bece22c-fd61-4bee-a96f-5558b1c28338">
                                            <div class="card-body">
                                                <h4 class="card-title">saber: Digital Diagnosis Assistant for Psychologist</h4>
                                                <p class="card-text">
                                                    The main objective of the saber project is to build an assistant system for the psychologist to facilitate, speed up and standardize the diagnostic process based on the DSM-5 (Diagnostic and Statistical Manual of Mental Disorders).  
                                                </p>
                                                <div id="demo1" class="collapse card-text  " > To overcome the problems reported by psychologists, deep learning algorithm was used in the diagnosis process. In addition, the proposed system assists psychologists by calculating the result of psychological tests in a few seconds. The system was built as a website. CNN algorithm was used with 96% of accuracy to automatically predict the appropriate diagnosis and suggest the most suitable psychological test for the patient take.</div>
                                                <div class="d-flex">
                                                <button type="button" class="btn " data-bs-toggle="collapse" data-bs-target="#demo1" style="color:#274867;">Read more >></button>
                                                <a class="btn " href="" role="button">go >></a>                    
                                                                    </div>
                                    </div>
    
                                </div>
                            </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card shado">
                                            <img class="img-fluid" alt="100%x280" src="https://firebasestorage.googleapis.com/v0/b/recipes-c6eff.appspot.com/o/project%2FhomeRecpie.png?alt=media&token=bd384029-5e18-4feb-954e-4a24a9e0ab0f">
                                            <div class="card-body ">
                                                <h4 class="card-title pt-3">Blog recipe</h4>
                                                <p class="card-text pt-2">A blog website is an excellent platform to share and discover a variety of posts, including recipes. With a diverse range of culinary creations, a blog website's recipe posts are a treasure trove of gastronomic delights.</p>
                                                <div id="demo5" class="collapse card-text  " > 
                                                    From mouthwatering main courses to delectable desserts, these posts offer step-by-step instructions, tantalizing food photography, and insightful tips to help readers embark on their culinary adventures. Whether you're seeking healthy options, international cuisines, or indulgent treats, the blog's recipe posts cater to a wide range of tastes and dietary preferences. With a plethora of flavors and techniques showcased in these posts, readers can explore new ingredients, refine their cooking skills, and bring delicious meals to their tables.
                                                </div>
                                                <div class="d-flex">
                                                <button type="button" class="btn " data-bs-toggle="collapse" data-bs-target="#demo5" style="color:#274867;">Read more >></button>
                                                <a class="btn " href="" role="button"> go >></a>                                            </div>
                                            </div>                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{%endblock%}