{% extends 'main/base.html'%}
{% load static %}

{% block title %} MeMyselfAndI {% endblock %}

{% block content %}
<div class="about">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center ">
        <div class="col-lg-5 align-self-end about">
            <hr class="divider">
        </div>
        <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 mb-5"> 
                In my spare time, I like to do different things that help me relax and express my creativity. I enjoy coloring as a therapeutic way to express my artistic side. Organizing things helps me feel in control, and trying new foods and places allows me to explore different cultures and experiences. Overall, these activities help me relax, express myself, and enjoy life to the fullest.
                .Explore my dessert and treat yourself or your loved ones to a sweet experience like no other.</p>
        </div></div></div>
  {%endblock%}