{% extends 'main/base.html' %}
{% block title %} Nada Website {% endblock %}

{% load static %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/h1.png'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gifted students ..</h5>
        <p class="card-text">Trained gifted students to prepare for Mawhiba & Qiyas tests and help them improve their critical thinking skills.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/pnu.webp'%}"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Education</h5>
        <p class="card-text">Princess Nourah University - Bachelor of Computational and Applied Mathematics.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/T.png'%}"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Volunteering ..</h5>
        <p class="card-text">First place as the best Initiative for Noura Al Ataa Competition with more than 50 participants.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
    {% endblock %}
