{% extends 'main/base.html' %}

{% block body %}

    <section id="contact" class="full-height px-lg-5">
        <div class="container">
    
            <div class="row justify-content-center text-center">
                <div class="col-lg-8 pb-4" data-aos="fade-up">
                    <h2 class="text-brand">Add service</h2>
       
    
                <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="300">
                    <form action="{% url 'services:add_service_view' %}" class="col g-lg-8 pb-3 gy-3 " method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Title:</label>
                            <input type="text" class="form-control " id="exampleFormControlInput1" placeholder="fill in title" name="title">
                        </div>
                   
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlInput1" placeholder="fill in Review" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label>Choose Images</label>
                            <input type="file" name="image" class="form-control">
                    </div>
            

                   
                        <div class="form-group col-12 d-grid">
                            <input class="btn btn-brand me-3" type="submit" value="Add Service" />
                        </div>
                    </form>
                </div>
            </div>
    
    
        </div>
    </section>
    
{% endblock %}