{% extends 'main/base.html' %}
{% block body %}

<section id="services" class="full-height px-lg-5">
    <div class="container">
        <div class="p-4 d-flex flex-column position-static">
            <div class="row pb-4" data-aos="fade-up">
                <div class="row-lg-8">
                    <h6 class="text-brand">SERVICES</h6>
                    <h1>Services That I Provide</h1>
                </div>
            </div>
            <div class="row gy-4">
                <div class="row-4" data-aos="fade-up" data-aos-delay="300" >
                    <div class="service p-4 bg-base rounded-4 shadow-effect">
                <img src="{{ service.image.url }}" class="card-img-top" style="height: 50%;"/>
    
                <h5 style="word-wrap: break-word;" class="mt-4 mb-2">{{ service.title }}</h5>
                <p style="word-wrap: break-word;">{{ service.description }}</p>
                <form style="display: flex; text-align: center;justify-content: space-between;" action="{% url 'services:add_request_view' service.id %}" method="post">
                    
                    {% csrf_token %}
                    <input type="submit" value="Send Request" class="btn btn-primary">
                    <a href="{% url 'services:service_view' %}" class="btn btn-success" tabindex="-1" style="margin-top: 10px; padding: 15px;" role="button" aria-disabled="true">Go back   </a>

            
                 </form>      
            </div>
            </div>
            </div>
            </div>
    

    </div>

    <h4 class="text-white mb-auto">Comments</h4>
    <div class="mt-4">


        {% for comment in comments %}
            <div class="d-flex flex-column gap-1 border border-1 rounded p-4 mt-3">
                <h4 class="text-white mb-auto">{{ comment.name }}</h4>
                <h6 class="text-white mb-auto">{{ comment.created_at }}</h6>
                <p class="text-white mb-auto">{{ comment.content }}</p>
            </div>
            
        {% endfor %}
    </div>
    <div class="row mt-4">
      <div class="col-6">

          <form action="{% url 'services:service_detail_view' service.id %}" method="post" >
              {% csrf_token %}
              
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name:</label>
                <input type="text" class="form-control " id="exampleFormControlInput1" placeholder="fill in title" name="name">
            </div>
    
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Content</label>
                <textarea class="form-control" id="exampleFormControlInput1" placeholder="fill in Review" name="content"></textarea>
            </div>

              <input class="btn btn-brand me-3" type="submit" value="Add Comment" />

          </form>

      </div>
      </div>
      </div>
      </div>
    </section>

    {% endblock body %}
