{% extends 'main/base.html' %}

{% block title %} User Log In {% endblock%}

{% block content %}
<style>
    body{
        background-color: #d4bc9ca1;

    }
.login{
    background-color: #d4bc9cad;
    justify-content: center;
    width: 30%;
    height: 60%;
    border-radius: 5%;
    padding: 3%;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 8%;


}
.btn{
    width: 250px;

}
.form-group input{
    width: 250px;
    background-color: transparent;
    border-radius: 0%;
    color: blue;
    align-items: center;
    border: none;
    border-bottom: 2px solid #adadad;
    margin-top:10% ;
    justify-content: center;

}
.button-17 {
  align-items: center;
  background-color: #381e0886;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  width: 130px;
}
.button-17:hover,
.button-17:focus { 
  background-color: #381e08a1;
  color: #ffffff;
}
.button-17:active {
  background-color: transparent;
  color: #ffffff;
}
        </style>
    <div class="container login">
        <div class="row align-items-center justify-content-center">
        <div class="col col-md-10">
        <div class="form-block">
        <div class="text-center mb-5">
        <h3>Login</h3>
        </div>
        {% if msg %} 
                <h5 class="text-white bg-danger p-3">{{msg}}</h5>
            {% endif %}
        <form action="{% url 'users:login_user_view' %}" method="post">
            {% csrf_token %}

        <div class=" form-group first ">
        <input type="text" class="form-control" placeholder="username" name="username">
        </div>
        <div class="form-group last  mb-3">
        <input type="password" class="form-control " placeholder="Your Password" name="password">
        </div>
        <div class="d-sm-flex mb-5 align-items-center">
            <input type="submit" value="Log In" class="btn btn-block  button-17">
        </div>
        <span class="txt1">
            Don’t have an account?
            </span><a class="txt2" href="{% url 'users:register_user_view' %}">
                Sign Up
                </a>
       
        </form>
        </div>
        </div>
        </div>
    </div>

{% endblock %}