{% extends 'main/base.html' %}

{% block title %} All Services Request Page {% endblock %}


{% block content %}

<div class="row">
    {% for service in services %}
        <div class="col-2 mt-4">
            <div class="d-flex flex-column gap-3 border border-1 shadow rounded-4 p-4 mt-1  h-100 justify-content-between">
                <img src="{{ service.image.url }}" class="rounded-4 object-fit-cover border border-1 book-poster" />
                <h3>{{ service.title }}</h3>
                <div class="d-flex justify-content-between align-items-center">
                    <h6>{{ service.created_at }}</h6>
                </div>
                
                <a href="{% url 'service:detail_view' service.id %}" class="d-flex justify-content-between text-decoration-none" style="color: #3a7020;">
                    <h5>more</h5>
                </a>
            </div>
        </div>
    
    {% endfor %}
</div>

{% endblock %}