{% extends 'main/base.html' %}


{% block title %} All  {% endblock %}
{%block img%}
<div class="home" style="
position: absolute;
width: 100%;
background-image: url('/static/imge/backg.jpg');
background-size: cover;
background-repeat:no-repeat;">
<style>
        .card{
       
        background: transparent;
        border:  2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        backdrop-filter: blur(20px) ;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        display: flex;
      }
      .btn:hover{
        background-color: rgb(193, 123, 193);      }
    
    
    </style>
{%endblock%}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center text-light h-50 pt-5 mb-5 ">
    <h1>My Serverce</h1>
</div>

<div class="row">
{% for server in servers %}
    <div class="card animate__animated animate__fadeInRight" style="width: 25rem; margin: 20px; margin-left: 140px ;">
        <div class="card-body text-light text-center">
            <img src="{{ server.image.url }}" class="rounded-4 object-fit-cover border border-1 book-poster" width="200rem" />
            <p class="card-title">{{  server.created_at }}</p>
            <h3 class="text-light text-center">{{ server.title }}</h3>
            <h6 class="text-light text-center mb-3">{{ server.description }}</h6>
            <a href="{% url 'server_app:server_detail_view' server.id %}" class="btn btn-primary">more</a>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}