{% extends 'main/base.html' %}


{% block title %} manager  {% endblock %}

{% block content %}


{% for request in all %}

    <div class="d-flex gap-2 p-4 m-2">
        <img src="{{request.ServerApp.image.url }}" class="small-poster object-fit-cover rounded-4" width="50%"/>
        <div>
            <h3><a href="#">{{ request.ServerApp.title }}</a></h3>
            <label>Status: </label>
        <form action=""method="post">
            {% csrf_token %}
            <select name="status" class="form-select">
                {% for value, title in choices %}
                    <option value="{{value}}">{{title}}</option>
                {% endfor %}
            </select>
            <input type="submit" name="submit"/>
        </form> 
            <h5>{{ request.user.username }}</h5>
        </div>

        >

    </div>

{% endfor %}

{% endblock %}