{% extends 'home.html'%}

{% block content %}
<div class="background"></div>
<div>
    <div class="text_descr1">
      Hi there! My name is Naif and
    </div>
    <div class="text_descr2">
      I'm a <span class="animation_text">full-stack developer</span>
    </div>
    <div class="button_descr">
      <a href="/static/pdf/cv.pdf" download class="download_btn">Download the CV</a>
    </div>
  </div>
  <div title="myskills">
    <div class="_text">
      <div>My Skills</div>
      <div><span class="material-symbols-outlined">keyboard_arrow_down</span></div>
      <div class="skill">
        <div class="skill_inside col-5">
          <h1 style="font-size: 24px;">Programming Skills     <span style="font-size: 25px;"><i class="bi bi-code-slash"></i></span></h1>
          <P class="mt-3">Python</P>
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 90%">90%</div>
          </div>
          <p>HTML</p>
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 100%">100%</div>
          </div>
          <p>CSS</p>
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 100%">100%</div>
          </div>
          <p>Javascript</p>
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 60%">60%</div>
          </div>
          <p>Django</p>
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 75%">75%</div>
          </div>
        </div>
        <div class="skill_inside col-5">
          <h1 style="font-size: 24px;">Designing Skills    <span style="font-size: 25px;"><i class="bi bi-phone"></i></span></h1>
          <p class="mt-3">Photoshop</p>
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 77%">77%</div>
          </div>
          <p class="mt-3">Lightroom</p>
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 90%">90%</div>
          </div>
          <p>Figma</p>
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 70%">70%</div>
          </div>
          <p>Picsart</p>
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 90%">90%</div>
          </div>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <div title="About" id="about">
    <div class="_text">
      <div>About me</div>
      <div><span class="material-symbols-outlined">keyboard_arrow_down</span></div>
      <div class="description">
        <div class="col-5 mt-5">
          <i style="font-size: 300px; color: #b13741;" class="bi bi-code-slash"></i>
        </div>
        <div class="col-5 mt-5">
          <p style="font-family: 'Bacasime Antique', serif; font-size: 25px;text-align: start;">My name is Naif Ali. I'm 
            freelancer  full-stack developer based in Riyadh, KSA. Thanks to these multiple skills, I can design and develop integrated websites with an attractive user interface and a comfortable user experience. By using these design and development techniques, I can create responsive websites that adapt to different devices and provide a smooth and satisfying user experience.</p>
        </div>
      </div>
    </div>
  </div>
  <div title="my project">
    <div class="_text">
      <div>My Project</div>
      <div><span class="material-symbols-outlined">keyboard_arrow_down</span></div>
      <div class="skill">
        <div class="skill_inside col-4">
          <img src="/static/img/R.jpg" width="450px" height="300px" style="border-radius: 30px;" alt="">
          <h2 style="text-align: center;">Web development</h2>
          <h4 style="text-align: center;">Data analysis twitter</h4>
          <a href="/static/pdf/rr.pptx" download style="display: flex; justify-content: center;" class="btn btn-primary">View details</a>
        </div>
        <div class="skill_inside col-4">
          <img src="/static/img/Screenshot.png" width="450px" height="300px" style="border-radius: 30px;" alt="">
          <h2 style="text-align: center;">Web Designing</h2>
          <h4 style="text-align: center;">Blogged interface design</h4><br>

        </div>
        
      </div>
    </div>
  </div>
{% endblock%}