{% extends 'main/base.html' %}
{%load static%}

{% block title %} Services {% endblock%}

{% block content %}
<link rel="stylesheet" href="{% static 'css/serviceStyle.css' %}" />


        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
              <h1 class="display-4 fst-italic">welcome to the services page!</h1>
              <p class="lead my-3">Here I offer a unique service which is creating custom chatbots powered by AI. With my easy-to-use platform, you can design a chatbot that fits your needs perfectly. Whether you want a chatbot for customer support, to engage visitors or for whatever you choose it's your call, you can customize its behavior and appearance. Join me today to enhance your website with a personalized AI chatbot that makes interaction with your users a breeze.</p>
              <div class="slider-text">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><a class="btn btn-secondary" href="{%  url 'Services:addService'%}" role="button">Request the service &raquo;</a></p>
                </form>
                </div>
            </div>
    
        </div>    

        

    {% if request.user.is_staff %}    

        <table>
            <tr>
              <th>Num</th>
              <th>Name</th>
              <th>Service</th>
              <th>Description</th>
              <th>File</th>
              <th>Deadline</th>
              <th>Status</th>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Alfreds Futterkiste</td>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>Alfreds Futterkiste</td>
            </tr>
          </table>

          {% endif %}

{% endblock %}