{% extends 'main/base.html' %}
{%load static%}

{% block title %} Services {% endblock%}

{% block content %}




<section class="container">
    <div class="slider-wraped">
        <div class="slider-text">
            <h1>Add your request</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">click here</button>
        </form>
        </div>
        </div>
        </section>


        {% endblock %}