{%extends 'main/base.html'%}

{%block title%} LOGO {%endblock%}



{%block content%}

<div class="row">
  {% for logo in logos %}
      <div class="col-4 mt-4">
          <div class="d-flex flex-column gap-3 border border-1 shadow rounded-4 p-4 mt-1  h-100 justify-content-between">
              <img src="{{ logo.image.url }}" class="rounded-4 object-fit-cover border border-1 book-poster" />
              <h3>{{ logo.title }}</h3>
              
              <a href="{% url 'services:logo_detail_view' logo.id %}" class="d-flex justify-content-between text-decoration-none">
                  <h5>more</h5>
                  <span class="material-symbols-outlined"> arrow_forward</span>
              </a>
          </div>
      </div>
  
  {% endfor %}
  </div>


  {%endblock%}