{% extends 'main/base.html' %}


{% block title %} {{request.user.first_name}} my request  {% endblock %}

{% block content %}

<h2 class="text-center p-4  text-warning ">{{request.user.first_name}} Profile </h2>
<div class="border border-warning p-2" style="--bs-border-opacity: .5;">My Requests</div>

{% for requests in request.user.requests_set.all %}
 <div class="col-3 mt-4">
    <div class="d-flex gap-2 p-4 m-2 flex-column gap-3 border border-1 shadow rounded-4 p-4 mt-1  ">
        
        <img class="rounded-4 w-100"  src="{{requests.logo.image.url }}"  />
        <div>
            <a href="{% url 'services:logo_detail_view' requests.logo.id %}" >{{ requests.logo.title }} </a>
            <h6 class="text-success m-3"> O  {{requests.status}}</h6>
        </div>
    </div>
 </div>
{% endfor %}

{% endblock %}