{%extends 'main/base.html'%}
{%block title%}About me {%endblock%}

{%block content%}
<!--main section start-->
<section class="main py-5 ">
    <video autoplay loop muted plays-inline class="back-video">
        <source src="/static/images/istockphoto-1285746728-640_adpp_is.mp4" type="video/mp4">
    </video>
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-6 py-5">
                <h3><small> Hello, I'm </small><br>
                    Lama Alsharif
                </h3>
                <h6 class="pt-3">Full-stack web developer</h6>
                <a href="#aboutme">
                <input type="button" value="More" class="bt1 mt-5 ms-3"></a>
            </div>
    </div>
    </div>
</section>

<!--about section -->
<div class="container-fluid py-5" id="Aboutme ">
    <div class="container" id="aboutme">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
            <h1 class="position-absolute  text-uppercase" style="color: rgb(233,20,109);">about me </h1>
        </div>
    </div>
</div>
<section class="about" >
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5">
                <img src="/static/images/bdp.jpg" class="img-fluid">
            </div>
            <div class="col-lg-7 pt-3">
                <h1 style="color: rgb(233,20,109);">About me.</h1>
                <p class="py-3">I'm <span class="fw-bold">Lama Alsharif </span>I recently graduated with a
                    bachelor degree in computer
                    science from PNU university <br> I have interned with telenoc
                    company and was able to work closely with their web developers. I also have a lot of knowledge with different programming languages as well as information technology . 
                <br> I’m highly motivated and am extremely passionate about developing,and I love to contribute as much as I can.</p>
                <input type="button" class="btn1 mt-5" value="Download C.V ">
            </div>
        </div>
    </div>
</section>
<!--Skills section-->
<div id="skill">
<div class="container-fluid py-5" id="skills ">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">skills</h1>
            <h1 class="position-absolute  text-uppercase" style="color: rgb(233,20,109);">my skills </h1>
        </div>
    </div>
</div>
<section class="skills" >
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="progress my-5">
                    <div class="pro-value1">
                        <p> HTML / CSS <span class="text-white float-end" >95%</span></p>
                    </div>
                </div>
                <div class="progress my-5">
                    <div class="pro-value2">
                        <p> Android development <span class="text-white float-end" >85%</span></p>
                    </div>
                </div>
                <div class="progress my-5">
                    <div class="pro-value3">
                        <p> Web developer <span class="text-white float-end" >99%</span></p>
                    </div>
                </div>
                <div class="progress my-5">
                    <div class="pro-value4">
                        <p> Java <span class="text-white float-end" >92%</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="progress my-5">
                    <div class="pro-value5">
                        <p> Interpersonal skills <span class="text-white float-end" >100%</span></p>
                    </div>
                </div>
                <div class="progress my-5">
                    <div class="pro-value6">
                        <p> Python <span class="text-white float-end" >99%</span></p>
                    </div>
                </div>
                <div class="progress my-5">
                    <div class="pro-value7 ">
                        <p> Technical skills<span class="text-white float-end" >90%</span></p>
                    </div>
                </div>
                <div class="progress my-5">
                    <div class="pro-value8">
                        <p> Wordpress <span class="text-white float-end" >89%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!--contact section -->
<div class="container-fluid py-5" id="contact ">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Contact</h1>
            <h1 class="position-absolute  text-uppercase" style="color: rgb(233,20,109);">Contact </h1>
        </div>
    </div>
</div>
<section class="services bg-light">
    <div class="container py-5">
        <div class="row pb-3">
            <div class="col-lg-4 mb-3">
                <div class="card  text-center py-3">
                    <div class="card-body">
                        <div class="circle">
                            <span><i class="fas fa-light fa-phone"></i></span>
                        </div>
                        <h4 class="fw-bold pb-2">PHONE</h4>
                        <p>0558622373</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card  text-center py-3">
                    <div class="card-body">
                        <div class="circle">
                            <span><i class="fas fa-regular fa-envelope"></i></span>
                        </div>
                        <h4 class="fw-bold pb-2">EMAIL</h4>
                        <p>lama.a.alsharif@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card  text-center py-3">
                    <div class="card-body">
                        <div class="circle">
                            <span><i class="fa-light fa-map-location-dot"></i></span>
                        </div>
                        <h4 class="fw-bold pb-2">ADDRESS</h4>
                        <p>RIYADH</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{%endblock%}