{%extends 'main/base.html'%}
{%block title%}About me {%endblock%}

{%block content%}
<div class="container-fluid py-5" id="contact ">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Services</h1>
            <h1 class="position-absolute  text-uppercase" style="color: rgb(233,20,109);">services </h1>
        </div>
    </div>
</div>
<section class="services bg-light">
    <div class="container py-5">
        <div class="row pb-3">
            <div class="col-lg-4 mb-3">
                <div class="card  text-center py-3">
                    <div class="card-body">
                        <div class="circle">
                            <span><i class="fas fa-desktop"></i></span>
                        </div>
                        <h4 class="fw-bold pb-2">web Design</h4>
                        <p>werty asdyh sdfgh wert  azsxdfg zxcvb asdfg sdfgh sdfghj erty  sdfgh 
                            sdfghjkl xcvbnm wertyui xcvbnm sdfghj dfghj xcvbnm </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 mb-3">
                <div class="card  text-center py-3">
                    <div class="card-body">
                        <div class="circle">
                            <span><i class="fas fa-solid fa-window-maximize"></i></span>
                        </div>
                        <h4 class="fw-bold pb-2">web Development</h4>
                        <p>werty asdyh sdfgh wert  azsxdfg zxcvb asdfg sdfgh sdfghj erty  sdfgh 
                            sdfghjkl xcvbnm wertyui xcvbnm sdfghj dfghj xcvbnm </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-3">
                <div class="card  text-center py-3">
                    <div class="card-body">
                        <div class="circle">
                            <span><i class="fa-light fa-mobile-screen-button"></i></span>
                        </div>
                        <h4 class="fw-bold pb-2">App Design</h4>
                        <p>werty asdyh sdfgh wert  azsxdfg zxcvb asdfg sdfgh sdfghj erty  sdfgh 
                            sdfghjkl xcvbnm wertyui xcvbnm sdfghj dfghj xcvbnm </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{%endblock%}