{% extends 'main/base.html' %}


{%block title %}My Services {%endblock%}

{% block con %}

    <section class="services" id="services">
        <h2 class="heading">
            My <span>Services</span>
        </h2>
        <div class="services_container">
            <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>Full Stack Developmnet</h3>
            <p>
                Here is a scation for what im gonana wrritsadfsadfasdfasdfasdfasdfsdafasdfasddfsafdasdfasdfe 
            </p>
            <a href="#" class="btnDown">Read More </a>
            </div>
            <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>Data analyzis</h3>
            <p>
                Here is a scation for what im gonana wrrite 
            </p>
            <a href="#" class="btnDown">Read More </a>
            </div>
            <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>Developing class</h3>
            <p>
                Here is a scation for what im gonana wrrite 
            </p>
            <a href="#" class="btnDown">Read More </a>
            </div>
        </div>
    </section>
{%endblock%}