{% extends 'main/base.html' %}


{%block title %} My service requests {%endblock%}

{% block con %}
<section class="services" id="services">
    <h2 class="heading">
        My  <span>Services requests </span> 
    </h2>
    <div class="services_container">
        {% for service in all_service_request %}
        <h1>{{service.description}}</h1>
        <div class="services-box">
        <img src="{{service.image.url}}" class="img-thumbnail w-50 " alt="">

        <h3>{{service}} </h3>
        <h3>{{service.status}} </h3>

        {% if  request.user.is_staff%}
        <form action="{% url 'services:change_status_view' service.id %}" method="post">
            {% csrf_token %} 
            <label>change_status: </label>
            <select name="status" class="form-select">
                {% for value, title in ServiceRequest.status_choices %}
                    <option value="{{value}}">{{title}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Update status" class="btnDown"/>

        </form>
        {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{%endblock%}