{% extends 'main/base.html' %}
{% load static %}

{% block title %} Service {% endblock %}

{% block content %}
<div class="row  d-flex flex-column align-items-center pt-5 pb-4"
    style="background-color: rgb(92, 84, 112); box-shadow: 0 6px 12px rgb(185, 180, 199); color:rgb(250, 240, 230) ;">
    <div class="col-7">
        {% if msg%}
        <div class="alert alert-dismissible fade show"
            style="background-color: rgb(250, 240, 230); color:  rgb(92, 84, 112);" role="alert">
            <strong>{{msg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <h3 class="text-center">{{ service.title }}</h3>
        <hr />
        <p> {{service.description}}</p>
        <p style="font-size: 12px;">{{ service.publish_date }}</p>
        <div class="text-center">
            {% if request.user.is_staff %}
            <a href="{% url 'main:update_service_view' service.id %}" class="btn" style="background-color: rgb(250, 240, 230); color:rgb(92, 84, 112) ;">Update</a>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal"
                style="background-color: rgb(250, 240, 230); color:rgb(92, 84, 112) ;">Delete</button>
            {% elif request.user.is_authenticated  %}
            <form action="{% url 'main:service_detail_view' service.id %}" method="post">
                {% csrf_token %}
                <button type="submit" name="status" value="pending" class="btn"
                    style="background-color: rgb(250, 240, 230); color:rgb(92, 84, 112) ;">Service Request</button>
            </form>
            {%else%}
            <h6 class="text-center">sign in or sing up to sequest service</h6>
            {% endif %}
        </div>
    </div>
</div>
<!-- delete  -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style=" color: rgb(53, 47, 68);">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete service</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style=" color: rgb(53, 47, 68);">
                Are you sure you want to delete <span class="fw-bold">{{service.title}}</span> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'main:delete_view' service.id %}" class="btn btn-danger">Delete!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}