{% extends 'main/base.html' %}


{% block title %} update {% endblock %}

{% block content %}

<div class="row d-flex flex-column align-items-center pt-5">
    <div class="col-6 rounded rounded-3" style="background-color: rgb(92, 84, 112); box-shadow: 0 6px 12px rgb(185, 180, 199);" >
    <form action="{% url 'main:update_service_view' service.id %}" enctype="multipart/form-data"  method="post">
        {% csrf_token %}
            <h2 class="text-center pt-4 pb-2" style=" color: rgb(250, 240, 230);">Updateing Service</h2>
            <label class="form-label" style="color:rgb(250, 240, 230);">Title:</label>
            <input type="text" name="title" value="{{service.title}}" class="form-control">
            <div class="mb-3">
                <label class="form-label"style="color:rgb(250, 240, 230) ;">description:</label>
                <textarea class="form-control" name="description">{{service.description}}</textarea>
            </div>
            <div class="mb-3">
                <label style="color:rgb(250, 240, 230);">Choose Image: </label>
                <input type="file" name="image" class="form-control"/>
            </div>
            <div class="text-center">
            <button type="submit" class="btn mt-4 mb-4" style="background-color: rgb(250, 240, 230); color:rgb(92, 84, 112) ;">Update service</button>
        </div>
    </form>

</div>
{% endblock %}