{% extends 'main/base.html' %}

{% block title %} Add new service {% endblock %}


{% block content %}

<div class="container-fluid pt-5" id=" add services ">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Services</h1>
            <h1 class="position-absolute  text-uppercase" style="color: rgb(233,20,109);">add services </h1>
        </div>
    </div>
</div>
<div class="container card mt-2">
    <div class="row">

        <div class="col">
            <form  action="{% url 'services:add_service_view' %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                {% csrf_token %} 
                <label style="color: #ff2770;">Title: </label>
                <input type="text" name="title" class="form-control" />

                
                <label style="color: #ff2770;">Description: </label>
                <textarea name="description" class="form-control"></textarea> 


                <label style="color: #ff2770;">Choose Image: </label>
                <input type="file" name="image" class="form-control"/>


                <label style="color: #ff2770;">Created at :</label>
                <input type="date" name="created_at" class="form-control"/>

                <input type="submit" value="Add service" class="btn btn1 btn-primary"/>

            </form>

        </div>

    </div>
</div>
{% endblock %}