{% extends 'main/base.html' %}

{% block title %} Home Page {% endblock %}


{% block content %}
<div class="container-fluid border border-light-subtle ms-4 me-4 shadow rounded d-flex justify-content-center mt-5 mb-2 text-center"style ="background-image: url(/static/img/we.jpg);" >
    <div >
        <h3 class="animate__animated  animate__bounceInDown mt-2">WELCOME TO OUR SALON</h3>
        <div class="p-3"><h5>This website was created as a means of escaping reality and living a vibrant experience outside of a computer screen.</h5>
            <h5>We are offering services such as  nail design, manicures, and pedicures allows us to be a one stop destination for those looking for a complete rejuvenating experience.</h5>
            
            <h5 >Expert Technique <i class="bi bi-stars" style="color: #dbcf66;"></i> Friendly Staff <i class="bi bi-stars"style="color: #dbcf66;"></i> Trendy <i class="bi bi-stars"style="color: #dbcf66;"></i> Creative <i class="bi bi-stars"style="color: #dbcf66;"></i> Satisfacton</h5>

        </div>
    </div>
</div>

<div class="p-3 mt-5"><h5>Our Services</h5></div>
<div class="row ms-4 ">
    {% for service in services %}
        <div class="col-4 mt-4 animate__animated  animate__backInDown">
            <div class="d-flex flex-column gap-3 border border-1 shadow rounded-4 p-4 mt-1  h-100 justify-content-between">
                <img src="{{ service.image.url }}" class="rounded-4 object-fit-cover border border-1 " />
                <h3 >{{ service.title }}</h3>
                <div class="d-flex justify-content-between align-items-center">
                    <h6 >{{ service.created_at }}</h6>
                </div>
                
                <a href="{% url 'service:detail_view' service.id %}" class="d-flex justify-content-between text-decoration-none" style="color: #3a7020;">
                    <h5>more</h5>
                </a>
            </div>
        </div>
    
    {% endfor %}
</div>


{% endblock %}