{% extends 'main/base.html' %}
{% block title %} <title> Servises </title> {% endblock %}



{% block background %}

<div class="background effect" style="background-image: url('/static/images/pexels-photo-4517098.jpeg')">
</div>

{% endblock %}



{% block content %} 

<div class="row marging ms-4 ">
    {% for service in all_service %}
            <div class="col mt-4">
                <div class="d-flex flex-column"> 
                    <div class="card " style="width: 22rem;background-color:white ">
                        <img class="card-img-top object-fit-cover" src="{{service.image.url}} " alt="Card image cap">
                        <div class="card-body" >
                            <div class="card_style_act"> 
                                <h3> {{service.title}} </h3>
                                <h4>  {{service.category}} </h4>
                                <a href="{% url 'services:detail_service_page_view' service.id%}" style="background-color: rgb(168, 128, 55); color: white;"  class="btn " ><b> for more datal </b> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    {% endfor %}

{% endblock %}






